* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, .75);
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, .6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(25, 25, 25);
}

.line {
    color: rgba(255, 255, 255, .75);
    font-size: 3em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.typing-animation {
    animation: blinkCursor 500ms steps(50) infinite normal,
        typing 4s 1s steps(50) infinite normal both;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 15em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

/* Page Interrese */
.card-interesse {
    border-radius: 10px;
    color: #111827;

}

.tag-card {
    width: 130px;
    height: 50px;
    background-color: #F9FAFB;
    border-radius: 29px;
    margin-top: 1%;
    margin-left: 1%;
    padding-top: 12px;
    position: absolute;
}

.text-tag-card {
    display: flex;
    text-align: center;
    justify-content: center;
}

.img-card {
    padding-top: 16%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.text-card {
    position: absolute;
    font-size: 25px;
    font-weight: 500;
    padding-top: 5%;
    padding-left: 2%;
    color: #111827;
}

.description-card {
    position: absolute;
    width: 15%;
    font-size: 15px;
    padding-top: 7.5%;
    padding-left: 2%;
    color: #B49467;
}

.img-anime {
    display: flex;
    justify-content: end;
    padding-top: 10%;
}


.img-filme {
    padding-left: 30%;
}

.img-esporte {
    display: flex;
    justify-content: end;
    padding-top: 80%;
}

.main-timeline-4 {
    position: relative;
}

.main-timeline-4::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #bbb;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-4 {
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline-4::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: #bbb;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left-4 {
    padding: 0px 40px 20px 0px;
    left: 0;
}

.right-4 {
    padding: 0px 0px 20px 40px;
    left: 50%;
}

.left-4::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid rgba(37, 117, 252, 1);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgba(37, 117, 252, 1);
}

.right-4::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid rgba(245, 87, 108, 1);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(245, 87, 108, 1) transparent transparent;
}

.right-4::after {
    left: -14px;
}

@media screen and (max-width: 600px) {

    .main-timeline-4::after {
        left: 31px;
    }

    .timeline-4 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline-4::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left-4::after,
    .right-4::after {
        left: 18px;
    }

    .left-4::before {
        right: auto;
    }

    .right-4 {
        left: 0%;
    }
}

.gradient-custom {

    background: #6a11cb;

    background: -webkit-linear-gradient(to right,
            rgba(106, 17, 203, 1),
            rgba(37, 117, 252, 1));

    background: linear-gradient(to right,
            rgba(106, 17, 203, 1),
            rgba(37, 117, 252, 1));
}

.gradient-custom-4 {
    background: #FEF08A;

    background: -webkit-linear-gradient(to left, #FEF9C3 3.85%, #FEF08A 95.73%);

    background: -webkit-linear-gradient(to left, #FEF9C3 3.85%, #FEF08A 95.73%);
}