{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container">
    <h1>Usuarios Cadastrados</h1>

    <table class="table table-bordered table-striped">
        <tr>
            <td>id</td>
            <td>nome</td>
            <td>idade</td>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.idade}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}